{% extends 'base.html.twig' %}

{% block title %}Expérience | Accueil{% endblock %}



{% block body %}
<!--FIN DU HEADER-->
<div class="header__slogan">
                        <h1 class="h__slogan--title">Accueil</h1>
                    </div>
                </div>
            </div>
		</header>

<!--BODY-->
<div class="article__view__container">
    <div class="article__view">
        <h2 class="article__view-title">Présentation</h2>
        <p class="article__view-content">L'equipe de l'UMR INRAE AgroParisTech, Laboratoire de physiologie de la nutrition et du comportement 
        alimentaire, en association avec le PNNS, vous invite à participer à une expérience en ligne unique destinée à comprendre les conditions d'acceptabilité de recommandations 
        nutritionnelles émises par une intelligence artificielle (un coach virtuel).</p>
    </div>
    <div class="article__view">
        <h2 class="article__view-title">Votre apport à l'étude</h2>
        <p class="article__view-content">Nous avons besoin d'une cinquantaine de volontaires prêts à donner 30 minutes de leur temps répartis sur trois semaines. Votre participation
        complète à l'expérience sera récompensée d'un chèque cadeau de 50€.</p>
    </div>
</div>
<div class="logo__center">
    <a href="https://www.inrae.fr/" target="_blank">
        <img class="logo__INRAE" src="img/INRAE.jpg" alt="INRAE">
    </a>
</div>
{% endblock %}
