{% extends 'base.html.twig' %}


{% block title %}Expérience | Repas{% endblock %}



{% block body %}
<!--FIN DU HEADER-->
<div class="header__slogan">
                        <h1 class="h__slogan--title">Repas</h1>
                    </div>
                </div>
            </div>
		</header>

<!--BODY-->
<div class="container">
<h1>Déclaration du repas</h1>
<div class="ggg">
    <div class="left">
        {% if formGroupe is defined %}
            {% form_theme formGroupe 'bootstrap_4_layout.html.twig' %}
            {{ form(formGroupe) }}
        {% endif %}
        {% if formSousGroupe is defined %}
            {% form_theme formSousGroupe 'bootstrap_4_layout.html.twig' %}
            {{ form(formSousGroupe) }}
        {% endif %}
        {% if formAlims is defined %}
            {% form_theme formAlims 'bootstrap_4_layout.html.twig' %}
            {{ form(formAlims) }}
        {% endif %}


        <button type="submit" class="btn btn-success">Ajouter</button>
    </div>
    <div class="right">
        <p>Ceci est un test</p>
        <button type="submit" class="btn btn-success">Envoyer</button>
    </div>
</div>




</div>

{% endblock %}
