{% extends 'base.html.twig' %}

{% block title %}Expérience | Exemple{% endblock %}



{% block body %}
<!--FIN DU HEADER-->
<div class="header__slogan">
                        <h1 class="h__slogan--title">RGPD</h1>
                    </div>
                </div>
            </div>
		</header>

<!--BODY-->
<div class="article__view__container">
    <div class="article__view">
        <h2 class="article__view-title">Comment seront utilisées les données me concernant ?</h2>
        <ul class="article__view-content">
                <li>OBJET DU TRAITEMENT : L’objet du traitement de ces données est l’étude des modifications du comportement alimentaire en fonction du degré d’interaction avec un algorithme alimentaire.
                </li>
                <li>
                NATURE DU TRAITEMENT DE DONNÉES : Les données collectées lors de cette recherche seront traitées de manière anonyme et confidentielle et utilisées lors de l’étude, dans le cadre prévu par la loi du 6 août 2004 relative à l’informatique, aux fichiers et aux libertés.  Le traitement des données sera fait de manière interne au laboratoire de recherche et les données ne seront accessibles qu’aux chercheurs participant à cette étude. Il n’y aura pas d’usage des données acquises durant cette recherche à des fins commerciales.
                </li>
                <li>
                RESPONSABLE DU TRAITEMENT : Le coordinateur de l’expérience est : Nicolas Darcel, maître de conférences AgroParisTech, 16 rue Claude Bernard 75005 Paris, courriel : <br> experiences-en-ligne@agroparistech.fr.
                </li>
                <li>
                DONNÉES TRAITÉES : E-mail et téléphone (chiffré asymétriquement) avant stockage sur le serveur. Données personnelles : sexe – âge – taille – poids. Choix alimentaires des candidats et choix d’acceptation ou de refus le la recommandation. Justification du choix dans certains cas. Court questionnaire facultatif final.
                </li>
                <li>
                DROIT D’ACCÈS : Si vous le souhaitez, vous pouvez accéder aux données vous concernant, les rectifier, demander leur effacement ou exercer votre droit à la limitation du traitement de vos données. Pour exercer ces droits d’accès ou pour toute question sur le traitement de vos données dans ce dispositif, vous pouvez contacter le coordinateur de l'expérience. De plus, vous pouvez poser autant de questions que vous le désirez concernant ce projet aux membres de l’équipe de recherche via l'adresse électronique communiquée. Vous pouvez aussi demander à être informé des principaux résultats de l’étude une fois l’étude terminée.
                </li>
                <li>
                DESTINATAIRE DES DONNÉES PERSONNELLES : Les données collectées seront communiquées aux seuls destinataires suivants : Antoine CORNUEJOLS et Nicolas DARCEL, responsables scientifiques de l’étude ; Jules VANDEPUTTE thésard AgroParisTech ; Pierrick HEROLD, stagiaire ingénieurs de fin d’étude AgroParisTech INRAE.
                </li>
                <li>
                CONSERVATIONS DES DONNÉES PERSONNELLES : Les données sont conservées pendant 15 ans, sauf pour les données permettant de vous identifier qui seront effacées de nos bases de données dès la fin du traitement des données.
                </li>
                <li>
                LES MESURES DE SÉCURITÉ MISES EN ŒUVRE : Un numéro anonyme vous sera attribué lors de l’étude. Une fois l’étude complétée, ce code sera la seule information retenue et toutes les autres informations permettant de vous identifier (e-mail) seront effacées de nos bases de données. En effet, ces informations (e-mail) seront immédiatement chiffrées avant d’être stockées sur le serveur et seuls les expérimentateurs pourront les consulter. Ainsi, il sera impossible de vous identifier dans les publications et présentations des données de l’étude. Ce projet a été déposé pour avis du comité d’éthique de l’Université Paris-Saclay le 22 Avril 2021.
                </li>
                <li>
                ENGAGEMENT DU LABORATOIRE DE RECHERCHE DANS LE TRAITEMENT DES DONNÉES PERSONNELLES : Le laboratoire UMR INRAE - AgroParisTech de Physiologie de la Nutrition, et du Comportement Alimentaire s’engage, par l’intermédiaire du porteur de projet sus-cité, à garantir l’anonymat des données ainsi que l’accès de chaque participant à ses données personnelles.
                </li>
            </ul>
    </div>
    <div class="logo__center">
        <a href="https://www.inrae.fr/" target="_blank">
            <img class="logo__INRAE" src="img/INRAE.jpg" alt="INRAE">
        </a>
    </div>
</div>
{% endblock %}
